.button {
	background: var(--orange);
	font-size: 22px;
	color: var(--white);
	padding: 10px 15px;
	border-radius: 3px;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.button--disabled {
	cursor: initial;
	opacity: 0.25;
}

.button:before {
	position: relative;
	font-size: 14px;
	margin-right: 10px;
}
