.row {
	display: flex;
}

.row:not(:last-child) {
	margin-bottom: 10px;
}

.status {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.button-container {
	display: flex;
	flex-direction: row;
}
