.square {
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	background: var(--light-grey);
	border-radius: 5px;
	padding: 15px;
}

.square:first-child {
	margin-right: 10px;
}

.square:last-child {
	margin-left: 10px;
}
