.square {
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	background: var(--light-grey);
	border-radius: 5px;
	padding: 15px;
	cursor: pointer;
}

.square--pulse {
	animation: pulse 1.5s ease-in-out infinite;
}

.square--disabled {
	cursor: initial;
}

.square:first-child {
	margin-right: 10px;
}

.square:last-child {
	margin-left: 10px;
}

@keyframes pulse {
	0% {
		background: var(--light-grey);
	}
	50% {
		background: var(--lighter-grey);
		box-shadow: 0 0 15px 0 var(--lighter-grey);
	}
	100% {
		background: var(--light-grey);
	}
}
