@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Archivo+Narrow');

:root {
	--white: #FFFFFF;
	--dark-grey: #2C3E50;
	--light-grey: #34495e;
	--red: #C0392B;
	--green: #27AE60;
	--font-advent: 'Advent Pro', sans-serif;
	--font-archivo: 'Archivo Narrow', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background: var(--dark-grey);
	font-family: var(--font-archivo);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
